<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome User</title>
  </head>
  <body>
    <h1>Welcome, <%= user.username %>!</h1>
    <a href="/logout" style="margin: 30px">Logout</a>
    <h2>Your Details</h2>
    <p><strong>Username:</strong> <%= user.username %></p>
    <p><strong>Email:</strong> <%= user.email %></p>
    <a href="/">Back to Home</a>
  </body>
</html>
